body,tr,td,th{font-size:12pt;}
a.del{color:#800000;}
a:hover{color:#DD0000;}
small{font-size:10pt;}
.delform {position:absolute;right:0;white-space:nowrap;text-align:center;}
.chui{font-size:small;}
ul{margin:0px;}
.ftbl{table-layout:fixed;width:476px;margin:0 auto;}
.ftdc{background-color:#ea8;width:4.5em;white-space:nowrap;}
#ftxa {width:388px;height:130px;}
form{margin:0px;}
.ama{text-align:left;width:468px;border:2px ridge;}
#oebtn{cursor:pointer;text-decoration:underline;}
#oe3{visibility:hidden;width:390px;height:135px;position:absolute;margin-top:0px;margin-left:1px;}
table.deleted{display:none;}
#ddel{font-size:8pt}
#ddbut{cursor:pointer;text-decoration:underline;}
#contres{font-size:120%;position:relative;left:1.5em;}
#contdisp{font-size:10pt;}
#reszb{cursor:pointer;text-decoration:underline;}
blockquote{word-wrap:break-word;max-width:800px;}
td{max-width:800px;}
#hml{position:absolute;top:0;left:0;width:100%;text-align:right;}
#tit{font-size:20pt;position:absolute;top:0;left:0;width:100%;text-align:center;font-weight:bold;}
#hdp{position:relative;height:20pt;}
.tue{width:468px;margin:4px auto;}
.psen{margin:10px}
.psei{padding: 0.4em 1em;}
.hsbn{font-size:120%}
